html {
	background-color: green;
	
	
}
body {
	width: 100%;
	background: green;
	background-color: green;
	border-style: inherit;
	border-width: thick;
	text-align: center;
	border-color: purple;
	color: purple;

}
h1 {
	font-size: 300px;
	color: purple;
	font-style: thick;
}

#titleImage {
	max-height: 100px;
	float: right;
}	

#hangmanImg {
	border-color: purple;
	border-style: solid;
	border-width: 5px;
	width: 40%;
	padding: 50px;
	padding-bottom: 530px;
	margin-left: 100px;
}
#gameBox {
	border-color: purple;
	border-width: 5px;
	border-style: solid;
	width: 40%;
	padding: 50px;
	padding-bottom: 500px;
	float: right;
	margin-right: 100px;

}
.row {
	width: 100%;
	
}
.col-lg-12 {
	background-color: green;
	width: 100%;
	border-color: purple;
	border-style: solid;
	
}
.col-lg-6 {
	
}
#lowerHalf {
	text-align: center;
}